<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- Authentication using a memory user list -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <!--<user-service>
                <user name="jim" password="demo" authorities="ROLE_ADMIN" />
                <user name="bob" password="demo" authorities="ROLE_USER" />
                <user name="ted" password="demo" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>-->
            <password-encoder ref="passwordEncoder"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select user_login_id as username,user_password as password,true from downuser where user_login_id = ?"
                               authorities-by-username-query="SELECT user_login_id as username,role_name from downuser where user_login_id = ?"/>
        </authentication-provider>
    </authentication-manager>
    <http auto-config="true" use-expressions="true">
        <!-- Login pages -->
        <form-login login-page="/login.html" authentication-failure-url="/login-error.html"
                    default-target-url="/mainlayout.html" always-use-default-target="true"/>
        <!--session not validata-->
        <session-management invalid-session-url="/login.html"/>
        <logout/>
        <!-- Security zones -->
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_SUPER')"/>
        <intercept-url pattern="/class/**" access="hasAnyRole('ROLE_CLASS','ROLE_SUPER')"/>
        <intercept-url pattern="/team/**" access="hasAnyRole('ROLE_TEAM','ROLE_CLASS','ROLE_SUPER')"/>
        <intercept-url pattern="/user/**" access="hasAnyRole('ROLE_USER','ROLE_SUPER','ROLE_CLASS','ROLE_TEAM')"/>
        <!--<intercept-url pattern="/shared/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />-->
    </http>
    <!--进行md5加密-->
    <beans:bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder">
        <beans:property name="encodeHashAsBase64" value="false"/>
    </beans:bean>
    <global-method-security pre-post-annotations="enabled"/>
</beans:beans>
