<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>平台管理</title>
</head>
<body>
<div class="uk-width-medium-1-4" th:fragment="leftnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">系管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navtiemanager"><a href="#" th:href="@{/maintainer/tie/tieManager}">系管理</a> </li>
                    <li id="navtienotice"><a href="#" th:href="@{/maintainer/tie/tieNotice}">公告</a></li>
                    <li id="navtieelegant"><a href="#" th:href="@{/maintainer/tie/tieElegant}">风采</a></li>
                    <li id="navintroduce"><a href="#" th:href="@{/maintainer/tie/tieIntroduceUpdate}" >简介</a></li>
                    <li id="navtiehead"><a href="#" th:href="@{/maintainer/tie/tieHeadUpdate}" >系主任</a></li>
                    <li id="navtietraingoal"><a href="#" th:href="@{/maintainer/tie/tieTrainGoalUpdate}">培养目标</a></li>
                    <li id="navtieitem"><a href="#" th:href="@{/maintainer/tie/tieItemUpdate}">特色</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#tie-id'}"><i class="uk-icon-reorder"></i>系管理</button>
    </div>
    <div id="tie-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">系管理</li>
                <li id="offcanvastiemanager"><a href="#" th:href="@{/maintainer/tie/tieManager}">系管理</a> </li>
                <li id="offcanvastienotice"><a href="#" th:href="@{/maintainer/tie/tieNotice}">公告</a></li>
                <li id="offcanvastieelegant" ><a href="#" th:href="@{/maintainer/tie/tieElegant}">风采</a></li>
                <li id="offcanvasintroduce"><a href="#" th:href="@{/maintainer/tie/tieIntroduceUpdate}" >简介</a></li>
                <li id="offcanvastiehead"><a href="#" th:href="@{/maintainer/tie/tieHeadUpdate}" >系主任</a></li>
                <li id="offcanvastietraingoal"><a href="#" th:href="@{/maintainer/tie/tieTrainGoalUpdate}">培养目标</a></li>
                <li id="offcanvastieitem"><a href="#" th:href="@{/maintainer/tie/tieItemUpdate}">特色</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 个人业务nav-->
<div class="uk-width-medium-1-4" th:fragment="personalnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">个人业务</h3>
                <ul class="uk-nav uk-nav-side">
                    <li id="navmodifydata"><a href="#" th:href="@{/student/personal/modifyData}" >修改资料</a></li>
                    <li id="navrevisepassword"><a href="#" th:href="@{/student/personal/revisePassword}">修改密码</a></li>
                    <li id="navindividualresume"><a href="#" th:href="@{/student/personal/individualResume}">个人简介</a></li>
                    <li id="navmailboxverification"><a href="#" th:href="@{/student/personal/mailboxVerification}">邮箱验证</a></li>
                    <li id="navmobileverification"><a href="#" th:href="@{/student/personal/mobileVerification}">手机验证</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#personal-id'}"><i class="uk-icon-reorder"></i>个人业务
        </button>
    </div>
    <div id="personal-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-nav-header">个人业务</li>
                <li id="offcanvasmodifydata"><a href="#" th:href="@{/student/personal/modifyData}">修改资料</a></li>
                <li id="offcanvasrevisepassword"><a href="#" th:href="@{/student/personal/revisePassword}">修改密码</a></li>
                <li id="offcanvasindividualresume"><a href="#" th:href="@{/student/personal/individualResume}">个人简介</a></li>
                <li id="offcanvasmailboxverification"><a href="#" th:href="@{/student/personal/mailboxVerification}">邮箱验证</a></li>
                <li id="offcanvasmobileverification"><a href="#" th:href="@{/student/personal/mobileVerification}">手机验证</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 专业管理nav-->
<div class="uk-width-medium-1-4" th:fragment="majornav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">专业管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navmajormanager"><a href="#" th:href="@{/maintainer/major/majorManager}">专业管理</a> </li>
                    <li id="navmajorintroduce"><a href="#" th:href="@{/maintainer/major/majorIntroduce}" >简介</a></li>
                    <li id="navmajorhead"><a href="#" th:href="@{/maintainer/major/majorHead}" >专业带头人</a></li>
                    <li id="navmajortraingoal"><a href="#" th:href="@{/maintainer/major/majorTrainingGoal}">培养目标</a></li>
                    <li id="navmajortrait"><a href="#" th:href="@{/maintainer/major/majorTrait}">特色</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#major-id'}"><i class="uk-icon-reorder"></i>专业管理</button>
    </div>
    <div id="major-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">专业管理</li>
                <li id="offcanvasmajormanager"><a href="#" th:href="@{/maintainer/major/majorManager}">专业管理</a> </li>
                <li id="offcanvasmajorintroduce"><a href="#" th:href="@{/maintainer/major/majorIntroduce}" >简介</a></li>
                <li id="offcanvasmajorhead"><a href="#" th:href="@{/maintainer/major/majorHead}" >专业带头人</a></li>
                <li id="offcanvasmajortraingoal"><a href="#" th:href="@{/maintainer/major/majorTrainingGoal}">培养目标</a></li>
                <li id="offcanvasmajortrait"><a href="#" th:href="@{/maintainer/major/majorTrait}">特色</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 班级管理nav-->
<div class="uk-width-medium-1-4" th:fragment="gradenav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">班级管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navgrademanager"><a href="#" th:href="@{/maintainer/grade/grademanager}">班级管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#grade-id'}"><i class="uk-icon-reorder"></i>班级管理</button>
    </div>
    <div id="grade-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">班级管理</li>
                <li id="offcanvasgrademanager"><a href="#" th:href="@{/maintainer/grade/majormanager}">班级管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 用户管理nav-->
<div class="uk-width-medium-1-4" th:fragment="usersnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">用户管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navstudentmanager"><a href="#" th:href="@{/maintainer/users/studentManager}">学生管理</a> </li>
                    <li id="navstudentarticle"><a href="#" th:href="@{/maintainer/users/userArticle}+'?userType=学生'">学生简介</a> </li>
                    <li id="navteachermanager"><a href="#" th:href="@{/maintainer/users/teacherManager}">教师管理</a> </li>
                    <li id="navteacherarticle"><a href="#" th:href="@{/maintainer/users/userArticle}+'?userType=教师'">教师简介</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#users-id'}"><i class="uk-icon-reorder"></i>用户管理</button>
    </div>
    <div id="users-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">用户管理</li>
                <li id="offcanvasstudentmanager"><a href="#" th:href="@{/maintainer/users/studentManager}">学生管理</a> </li>
                <li id="offcanvasstudentarticle"><a href="#" th:href="@{/maintainer/users/userArticle}+'?userType=学生'">学生简介</a> </li>
                <li id="offcanvasteachermanager"><a href="#" th:href="@{/maintainer/users/teacherManager}">教师管理</a> </li>
                <li id="offcanvasteacherarticle"><a href="#" th:href="@{/maintainer/users/userArticle}+'?userType=教师'">教师简介</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 邮箱管理nav-->
<div class="uk-width-medium-1-4" th:fragment="mailnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">邮箱管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navmailmanager"><a href="#" th:href="@{/maintainer/mail/mailManager}">邮箱管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#mail-id'}"><i class="uk-icon-reorder"></i>邮箱管理</button>
    </div>
    <div id="mail-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">邮箱管理</li>
                <li id="offcanvasmailmanager"><a href="#" th:href="@{/maintainer/mail/mailManager}">邮箱管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 手机管理nav-->
<div class="uk-width-medium-1-4" th:fragment="mobilenav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">手机管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navmobilemanager"><a href="#" th:href="@{/maintainer/mobile/mobileManager}">手机管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#mobile-id'}"><i class="uk-icon-reorder"></i>手机管理</button>
    </div>
    <div id="mobile-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">手机管理</li>
                <li id="offcanvasmobilemanager"><a href="#" th:href="@{/maintainer/mobile/mobileManager}">手机管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 系统管理nav-->
<div class="uk-width-medium-1-4" th:fragment="systemnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">系统管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navsystemmanager"><a href="#" th:href="@{/maintainer/system/systemManager}">系统信息</a> </li>
                    <li id="navsystemmetrics"><a href="#" th:href="@{/maintainer/system/systemMetrics}">系统指标</a> </li>
                    <li id="navsystemlog"><a href="#" th:href="@{/maintainer/system/systemLog}">系统日志</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#system-id'}"><i class="uk-icon-reorder"></i>系统管理</button>
    </div>
    <div id="system-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">系统管理</li>
                <li id="offcanvassystemmanager"><a href="#" th:href="@{/maintainer/system/systemManager}">系统信息</a> </li>
                <li id="offcanvassystemmetrics"><a href="#" th:href="@{/maintainer/system/systemMetrics}">系统指标</a> </li>
                <li id="offcanvassystemlog"><a href="#" th:href="@{/maintainer/system/systemLog}">系统日志</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 招聘管理nav-->
<div class="uk-width-medium-1-4" th:fragment="recruitnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">招聘管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navrecruitmanager"><a href="#" th:href="@{/maintainer/recruit/recruitManager}">招聘管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#recruit-id'}"><i class="uk-icon-reorder"></i>招聘管理</button>
    </div>
    <div id="recruit-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">招聘管理</li>
                <li id="offcanvasrecruitmanager"><a href="#" th:href="@{/maintainer/recruit/recruitManager}">招聘管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 自主实习nav-->
<div class="uk-width-medium-1-4" th:fragment="practicenav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">自主实习</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navreportingsettings" sec:authorize="hasRole('ADMIN')" ><a href="#" th:href="@{/administrator/autonomicpractice/reportsettingList }">填报设置</a> </li>
                    <li id="navautonomicpractice" sec:authorize="hasAnyRole('STU','TEA','ADMIN','MAI','SEMI')"><a href="#" th:href="@{/student/autonomicpractice/autonomicPractice }">自主实习</a> </li>
                    <li id="navtemplateedit" sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/administrator/autonomicpractice/templateList }">模板编辑</a> </li>
                    <li id="navdataanalysis" sec:authorize="hasAnyRole('ADMIN','MAI','SEMI')"><a href="#" th:href="@{/semi/autonomicpractice/dataAnalysis }">数据分析</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#practice-id'}"><i class="uk-icon-reorder"></i>自主实习</button>
    </div>
    <div id="practice-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">自主实习</li>
                <li id="offcanvasreportingsettings" sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/administrator/autonomicpractice/reportsettingList}">填报设置</a> </li>
                <li id="offcanvasautonomicpractice" sec:authorize="hasAnyRole('STU','TEA','ADMIN','MAI','SEMI')"><a href="#" th:href="@{/student/autonomicpractice/autonomicPractice }">自主实习</a> </li>
                <li id="offcanvastemplateedit" sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/administrator/autonomicpractice/templateList }">模板编辑</a> </li>
                <li id="offcanvasdataanalysis" sec:authorize="hasAnyRole('ADMIN','MAI','SEMI')"><a href="#" th:href="@{/semi/autonomicpractice/dataAnalysis }">数据分析</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 教务管理nav-->
<div class="uk-width-medium-1-4" th:fragment="eadminnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">教务管理</h3>
                <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="">
                    <li class="uk-nav-header">教学</li>
                    <li class="uk-parent">
                        <a href="#">理论</a>
                        <ul class="uk-nav-sub">
                            <li id="theorynavassignmentbookmanager"><a href="#" th:href="@{/administrator/eadmin/assignmentBookList}" >教学任务书管理</a></li>
                            <li id="theorynavteacherfilltemplateadd"><a href="#" th:href="@{/administrator/eadmin/teacherFillTemplateAdd}" >教师填报模板</a></li>
                            <li><a href="#">教学进程表管理</a></li>
                            <li><a href="#">课表管理</a></li>
                            <li><a href="#">四大件管理</a></li>
                            <li><a href="#">考试管理</a></li>
                            <li><a href="#">教学相关下载管理</a></li>
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">实践</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">教学任务书管理</a></li>
                            <li><a href="#">教学进程表管理</a></li>
                            <li><a href="#">课表管理</a></li>
                            <li><a href="#">四大件管理</a></li>
                            <li><a href="#">实践相关下载管理</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">评教</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#my-id'}"><i class="uk-icon-reorder"></i>菜单</button>
    </div>
    <div id="my-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="">
                <li class="uk-nav-header">教务管理</li>
                <li class="uk-parent">
                    <a href="#">教学</a>
                    <ul class="uk-nav-sub">
                        <li id="theoryoffcanvasassignmentbookmanager"><a href="#" th:href="@{/administrator/eadmin/assignmentBookList}">理论-导入教学任务书</a></li>
                        <li id="theoryoffcanvasteacherfilltemplateadd"><a href="#" th:href="@{/administrator/eadmin/teacherFillTemplateAdd}" >理论-教师填报模板</a></li>
                        <li><a href="#">理论-教学进程表管理</a></li>
                        <li><a href="#">理论-课表管理</a></li>
                        <li><a href="#">理论-四大件管理</a></li>
                        <li><a href="#">理论-考试管理</a></li>
                        <li><a href="#">理论-教学相关下载管理</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">实践-教学任务书管理</a></li>
                        <li><a href="#">实践-教学进程表管理</a></li>
                        <li><a href="#">实践-课表管理</a></li>
                        <li><a href="#">实践-四大件管理</a></li>
                        <li><a href="#">实践-实践相关下载管理</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">评教</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>