<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>平台管理</title>
</head>
<body>
<div class="uk-width-medium-1-4" th:fragment="leftnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">系管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navtiemanager"><a href="#" th:href="@{/maintainer/tie/tieManager}">系管理</a> </li>
                    <li id="navtienotice"><a href="#" th:href="@{/maintainer/tie/tieNotice}">公告</a></li>
                    <li id="navtieelegant"><a href="#" th:href="@{/maintainer/tie/tieElegant}">风采</a></li>
                    <li id="navintroduce"><a href="#" th:href="@{/maintainer/tie/tieIntroduceUpdate}" >简介</a></li>
                    <li id="navtiehead"><a href="#" th:href="@{/maintainer/tie/tieHeadUpdate}" >系主任</a></li>
                    <li id="navtietraingoal"><a href="#" th:href="@{/maintainer/tie/tieTrainGoalUpdate}">培养目标</a></li>
                    <li id="navtieitem"><a href="#" th:href="@{/maintainer/tie/tieItemUpdate}">特色</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#tie-id'}"><i class="uk-icon-reorder"></i>系管理</button>
    </div>
    <div id="tie-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">系管理</li>
                <li id="offcanvastiemanager"><a href="#" th:href="@{/maintainer/tie/tieManager}">系管理</a> </li>
                <li id="offcanvastienotice"><a href="#" th:href="@{/maintainer/tie/tieNotice}">公告</a></li>
                <li id="offcanvastieelegant" ><a href="#" th:href="@{/maintainer/tie/tieElegant}">风采</a></li>
                <li id="offcanvasintroduce"><a href="#" th:href="@{/maintainer/tie/tieIntroduceUpdate}" >简介</a></li>
                <li id="offcanvastiehead"><a href="#" th:href="@{/maintainer/tie/tieHeadUpdate}" >系主任</a></li>
                <li id="offcanvastietraingoal"><a href="#" th:href="@{/maintainer/tie/tieTrainGoalUpdate}">培养目标</a></li>
                <li id="offcanvastieitem"><a href="#" th:href="@{/maintainer/tie/tieItemUpdate}">特色</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 个人业务nav-->
<div class="uk-width-medium-1-4" th:fragment="personalnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">个人业务</h3>
                <ul class="uk-nav uk-nav-side">
                    <li><a href="#">修改资料</a></li>
                    <li id="navrevisepassword"><a href="#" th:href="@{/student/personal/revisepassword}">修改密码</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#personal-id'}"><i class="uk-icon-reorder"></i>个人业务
        </button>
    </div>
    <div id="personal-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-nav-header">个人业务</li>
                <li><a href="#">修改资料</a></li>
                <li id="offcanvasrevisepassword"><a href="#" th:href="@{/student/personal/revisepassword}">修改密码</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 专业管理nav-->
<div class="uk-width-medium-1-4" th:fragment="majornav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">专业管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navmajormanager"><a href="#" th:href="@{/maintainer/major/majorManager}">专业管理</a> </li>
                    <li id="navmajorintroduce"><a href="#" th:href="@{/maintainer/major/majorIntroduce}" >简介</a></li>
                    <li id="navmajorhead"><a href="#" th:href="@{/maintainer/major/majorHead}" >专业带头人</a></li>
                    <li id="navmajortraingoal"><a href="#" th:href="@{/maintainer/major/majorTrainingGoal}">培养目标</a></li>
                    <li id="navmajortrait"><a href="#" th:href="@{/maintainer/major/majorTrait}">特色</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#major-id'}"><i class="uk-icon-reorder"></i>专业管理</button>
    </div>
    <div id="major-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">专业管理</li>
                <li id="offcanvasmajormanager"><a href="#" th:href="@{/maintainer/major/majorManager}">专业管理</a> </li>
                <li id="offcanvasmajorintroduce"><a href="#" th:href="@{/maintainer/major/majorIntroduce}" >简介</a></li>
                <li id="offcanvasmajorhead"><a href="#" th:href="@{/maintainer/major/majorHead}" >专业带头人</a></li>
                <li id="offcanvasmajortraingoal"><a href="#" th:href="@{/maintainer/major/majorTrainingGoal}">培养目标</a></li>
                <li id="offcanvasmajortrait"><a href="#" th:href="@{/maintainer/major/majorTrait}">特色</a></li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 班级管理nav-->
<div class="uk-width-medium-1-4" th:fragment="gradenav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">班级管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navgrademanager"><a href="#" th:href="@{/maintainer/grade/grademanager}">班级管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#grade-id'}"><i class="uk-icon-reorder"></i>班级管理</button>
    </div>
    <div id="grade-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">班级管理</li>
                <li id="offcanvasgrademanager"><a href="#" th:href="@{/maintainer/grade/majormanager}">班级管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 用户管理nav-->
<div class="uk-width-medium-1-4" th:fragment="usersnav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">用户管理</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navstudentmanager"><a href="#" th:href="@{/maintainer/users/studentManager}">学生管理</a> </li>
                    <li id="navteachermanager"><a href="#" th:href="@{/maintainer/users/teacherManager}">教师管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#users-id'}"><i class="uk-icon-reorder"></i>用户管理</button>
    </div>
    <div id="users-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">用户管理</li>
                <li id="offcanvasstudentmanager"><a href="#" th:href="@{/maintainer/users/studentManager}">学生管理</a> </li>
                <li id="offcanvasteachermanager"><a href="#" th:href="@{/maintainer/users/teacherManager}">教师管理</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 自主实习nav-->
<div class="uk-width-medium-1-4" th:fragment="practicenav">
    <div class="uk-grid uk-hidden-small">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">自主实习</h3>
                <ul class="uk-nav uk-nav-side" data-uk-nav="">
                    <li id="navreportingsettings" sec:authorize="hasRole('ADMIN')" ><a href="#" th:href="@{/templates/student/autonomicpractice/autonomicpractice/reportSetting }">填报设置</a> </li>
                    <li id="navautonomicpractice" sec:authorize="hasAnyRole('STU','TEA','ADMIN','MAI','SEMI')"><a href="#" th:href="@{/student/autonomicpractice/autonomicPractice }">自主实习</a> </li>
                    <li id="navtemplateedit" sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/templates/student/autonomicpractice/autonomicpractice/templateEdit }">模板编辑</a> </li>
                    <li id="navdataanalysis" sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/maintainer/autonomicpractice/dataAnalysis }">数据分析</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-visible-small" data-uk-sticky="{top:70}">
        <button class="uk-button" data-uk-offcanvas="{target:'#practice-id'}"><i class="uk-icon-reorder"></i>自主实习</button>
    </div>
    <div id="practice-id" class="uk-offcanvas uk-visible-small">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                <li class="uk-nav-header">自主实习</li>
                <li id="offcanvasreportingsettings"><a href="#" th:href="@{/templates/student/autonomicpractice/autonomicpractice/reportSetting}">填报设置</a> </li>
                <li id="offcanvasautonomicpractice"><a href="#" th:href="@{/student/autonomicpractice/autonomicPractice }">自主实习</a> </li>
                <li id="offcanvastemplateedit"><a href="#" th:href="@{/templates/student/autonomicpractice/autonomicpractice/templateEdit }">模板编辑</a> </li>
                <li id="offcanvasdataanalysis"><a href="#" th:href="@{/maintainer/autonomicpractice/dataAnalysis }">数据分析</a> </li>
                <li>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>