<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>commons</title>
</head>
<body>
<!-- user logo -->
<div class="myheader" th:fragment="logo">
    <img src="images/logo.png" th:src="@{/images/logo.png}" alt="Placeholder"/>
</div>

<!-- user nav -->
<nav th:fragment="nav" class="uk-navbar uk-margin-large-bottom"
     data-uk-sticky="{media: &#39;(min-width: 640px) and (orientation: landscape)&#39;,top:-200, animation: &#39;uk-animation-slide-top&#39;}">

    <a class="uk-navbar-brand uk-hidden-small" href="/" th:href="@{/}" >信息工程系</a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li class="uk-parent" data-uk-dropdown="" >
            <a>教学工作</a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">系办</a></li>
                    <li><a href="#">教务</a></li>
                    <li><a href="#">学工</a></li>
                </ul>
            </div>
        </li>
        <li class="uk-parent" data-uk-dropdown="" >
            <a>考试报名</a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">软考报名</a></li>
                </ul>
            </div>
        </li>
        <li class="uk-parent" data-uk-dropdown="" >
            <a>招聘管理</a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">发布招聘</a></li>
                </ul>
            </div>
        </li>
        <li class="uk-parent" data-uk-dropdown="" >
            <a>毕业实习</a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">自主实习</a></li>
                </ul>
            </div>
        </li>
        <li class="uk-parent" data-uk-dropdown="" >
            <a>相关下载</a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li class="uk-nav-header">系办</li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">教务</li>
                    <li><a href="#">理论资料</a></li>
                    <li><a href="#">实践资料</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">学工</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav">
            <li sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/backstage}">后台管理</a>
            </li>
            <li>
                <a href="#loginmodal" data-uk-modal="" sec:authorize="isAnonymous()">进入后台管理</a>
                <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
            </li>
        </ul>
    </div>
    <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()" id="logout" class="uk-hidden" >
        <input type="submit" />
    </form>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">信息工程系</div>
    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="">
                <li class="uk-parent">
                    <a href="#">教学工作</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">系办</a></li>
                        <li><a href="#">教务</a></li>
                        <li><a href="#">学工</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">考试报名</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">软考报名</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">招聘管理</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">发布招聘</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">毕业实习</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">自主实习</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">相关下载</a>
                    <ul class="uk-nav-sub">
                        <li class="uk-nav-header">系办</li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">教务</li>
                        <li><a href="#">理论资料</a></li>
                        <li><a href="#">实践资料</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">学工</li>
                        <li class="uk-nav-divider"></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" th:href="@{/backstage}">后台管理</a>
                </li>
                <li>
                    <a href="#loginmodal" data-uk-modal="" sec:authorize="isAnonymous()">登录</a>
                    <a href="javascript:;" onclick="javascript:$('#logout').submit();" sec:authorize="isAuthenticated()" >退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- login modal -->
<div id="loginmodal" th:fragment="loginmodal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h2>欢迎登录信息工程系后台管理系统！</h2>
        </div>
        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 250px;">
                <form class="uk-panel uk-form" name="form" th:action="@{/login}" action="/login" method="POST" data-validator-option="{stopOnError:false, timely:'yellow_right_effect',validClass:'uk-form-success',invalidClass:'uk-form-danger'}" >
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" id="username" type="text" name="username" placeholder="用户名" data-rule="required;" data-msg-required="请填写用户名!"  data-tip="您的编号" />
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" id="password" type="password" name="password" placeholder="密码" data-rule="required;" data-msg-required="请填写密码!"  data-tip="密码由6位及以上任意字符组成" />
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <img src="/user/jcaptcha" id="jcaptcha" th:src="@{/user/jcaptcha}" onclick="newCaptcha();" />
                            </div>
                            <div class="uk-width-1-2">
                                <input type="text" name='j_captcha_response' placeholder="验证码" class="uk-margin-small-top" data-rule="required;remote[/user/validateCaptchaForId]" data-tip="请输入验证码" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">登录</button>
                    </div>
                    <div class="uk-form-row uk-text-small">
                        <label class="uk-float-left">
                            <input type="checkbox" name="remember-me" th:value="true"/> 记住我</label>
                        <a class="uk-float-right uk-link uk-link-muted" href="#">忘记密码?</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer th:fragment="footer">
    <p class="uk-text-center">Copyright 2015</p>
</footer>
</body>
</html>