<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>系统登录</title>
  <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png" />-->
  <link rel="stylesheet" href="css/uikit.css" th:href="@{/css/uikit.css}" />
  <!--[if lte IE 9]>
  <script src="js/respond.min.js" th:src="@{/js/respond.min.js}" ></script>
  <script src="js/html5.min.js" th:src="@{/js/html5.min.js}" ></script>
  <![endif]-->
  <script src="js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}" ></script>
  <script src="js/uikit.min.js" th:src="@{/js/uikit.min.js}" ></script>
</head>

<body class="uk-height-1-1">

<div class="uk-vertical-align uk-text-center uk-height-1-1">
  <div class="uk-vertical-align-middle" style="width: 250px;">
    <h4>请先登录！</h4>
    <form class="uk-panel uk-panel-box uk-form">
      <div class="uk-form-row">
        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="用户名" />
      </div>
      <div class="uk-form-row">
        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="密码" />
      </div>
      <div class="uk-form-row">
        <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">登录</a>
      </div>
      <div class="uk-form-row uk-text-small">
        <label class="uk-float-left">
          <input type="checkbox" /> 记住我</label>
        <a class="uk-float-right uk-link uk-link-muted" href="#">忘记密码?</a></div>
    </form>
  </div>
</div>

</body>

</html>